@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Navbar Styles */
.navbar {
  overflow: hidden;
  margin-right: 150px;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-item,
.navbar-item-Login,
.navbar-item-CreateAccount {
  margin-right: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
}

.navbar-item {
  color: black;
}

.navbar-item:hover {
  color: #77d770;
}

.icon{
  display: grid;
  place-items: center;
}
.icono-Colombia{
  width: 40px;
  height: 100%;
}